/*style.css*/
h1 {
    color: blue;
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 10px;
}
h3 {
font-size: 25px;
color: red;
}

h2 {

font-size: 25px;  

}

p {
color: blue;
font-size: 16px;
font-family: Arial, sans-serif;
line-height: 1.5;
margin-bottom: 10px;
text-align: justify;
}
ul {
list-style-type: disc; 
}
ol {
list-style-type: decimal;
}

table th, td {
border : 1px solid black;
}

th {
padding: 10px; 
margin: 5px;
}

table {
background-color: white;
}

th {
background-color: black;
color: white;
}

tr:nth-child(even){
background-color: white;
}

th {
text-align: center;
}

table {
table-layout: fixed;
width:50%;
}

body {
background-color: lightblue;
}

.my-link:visited {
color:black;
}

.contact-form {
width: 100px;
}

label {
display: block;
margin-bottom: 5px; 
font-weight: bold; 
color: blue; 
}

input[type="text"], 
input[type="email"],
text area {
width: 100%; /* Set the width of text inputs to 100% */
padding: 8px; /* Add padding inside text inputs */
margin-bottom: 10px; /* Add margin at the bottom of text inputs */
border: 1px solid #ccc; /* Add a border around text inputs */
border-radius: 4px; /* Add border-radius to round the corners of text inputs */
} 
input[type="submit"] {
padding: 10px 20px; /* Add padding to the submit button */
background-color: blue; /* Set the background color of the submit button */
color: white; /* Set the text color of the submit button */
border: none; /* Remove the border of the submit button */
border-radius: 4px; /* Add border-radius to round the corners of the submit button */
cursor: pointer; /* Change the cursor to a pointer on hover */
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
}

input[type="submit"]:hover {
background-color: darkblue; /* Change the background color of the submit button on hover */
}
text area {
height: 100px;
}